/*VARIABLES*/
$primary-yellow: #FFD851;
$primary-gray: rgb(51,51,51);
$darken-perc: 10%;
$border-radius: 10px;
$border-radius-big: 20px;
$border-radius-small: 5px;
$main-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
$inverted-box-shadow: -3px 3px 3px rgba(0,0,0,0.2);
$straight-down-box-shadow: 0 0 5px rgba(0,0,0,0.4);

* {
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.51);
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.yellow-bg-img {
    z-index: -5;
    position: absolute;
    max-width: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f5f7f9;
}

h1 {
    font-size: 1.6em;
    font-weight: bold;
}


h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

h3 {
    font-size: 1.0em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}


.form-control {
    outline: none;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    /*border-bottom: 1px solid lighten($primary-gray, 50%);*/
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-right: 0px;
    padding-left: 0px;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.default-yellow-button {
    border-radius: $border-radius-small;
    box-shadow: $main-box-shadow;
    border: none;
    outline: none;
    background: $primary-yellow;
    padding: 10px 20px;

    &:hover {
        background: darken($primary-yellow, $darken-perc);
        font-weight: bold;
    }
}

.default-flat-button {
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 20px;
    color: black;
    text-decoration: none;

    &:hover {
        /*background: darken($primary-yellow, $darken-perc);*/
        font-weight: bold;
        text-decoration: none;
    }
}

.sub-text {
    font-size: 0.8em;
    color: lighten($primary-gray, $darken-perc);
}


.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #module-select {
        border: none;
        background: transparent;
        font-weight: bold;
        outline: none;

        option {
            border: none;
            background: none;
        }
    }
}

.body-content {
    margin-top: 75px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: $primary-yellow;
    border: none;
    padding-right: 30px;

    a {
        color: lighten($primary-gray, $darken-perc);

        &:hover {
            color: $primary-gray;
            font-weight: bold;
        }
    }
}

.tests-wrapper {
    margin-top: 30px;
    width: 100%;
}

.extra-info {
    font-size: 0.9em;
}

.test-container {
    width: 100%;
    /*height: 250px;*/
    padding: 15px;
    background: white;
    border-radius: $border-radius;
    box-shadow: $main-box-shadow;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    .no-tests {
    }

    .extra-info.module-name {
        font-weight: bold;
    }

    .submissions-graph {
        width: 80%;
        align-self: center;
        height: 300px;
        /*background: rgba(0,0,0,0.05);*/
        margin: 10px 0;
        text-align: center;
        border-radius: $border-radius;
        box-shadow: $inverted-box-shadow;
        //removed when graph is working
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .vertical-spacer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        height: 100%;
    }

    a.view-test-link {
        margin-top: 10px;
        align-self: flex-end;
        justify-self: flex-end;
        color: $primary-gray;

        &:hover {
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.test-container.empty, .test-container.student {
    height: 250px;
}

.container.login-container {
    border-radius: $border-radius-big;
    box-shadow: $main-box-shadow;
    height: 100%;
    background: white;
    padding: 15px;
    width: 45%;

    .login-container-header {
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .row {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding-bottom: 15px;
        margin-bottom: 30px;


        .info-block {
            padding: 10px;
            text-align: center;
            align-self: center;
            border-right: 1px solid rgba(0,0,0,0.1);
        }

        .login-wrapper {
            padding: 10px;

            form {
                margin-top: 30px;
                width: 90%;

                .form-group {
                    margin-left: 0;
                }
            }

            a {
                color: $primary-gray;
                margin-left: 15px;

                &:hover {
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
}

.container.register-container {
    border-radius: $border-radius-big;
    box-shadow: $main-box-shadow;
    height: 100%;
    background: white;
    padding: 15px;
    width: 60%;

    .register-container-header {
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .row {
        .registration-form {
            width: 90%;
            margin: 30px auto;

            .scrollable {
                max-height: 370px;
                overflow: auto;
                padding-right: 15px;
            }

            .form-group {
                margin-left: 0;
            }

            #lbl-error {
                margin-top: 30px;
            }
        }

        a {
            color: $primary-gray;
            margin-left: 15px;

            &:hover {
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

ul.test-ul {
    max-height: 505px;
    overflow: auto;
    padding-right: 15px;
    padding-top: 5px;
    width: 70%;
    /*margin: 0 auto;*/
    li.test-li {
        list-style: none;

        .test-container {
            margin-bottom: 10px;
            box-shadow: $straight-down-box-shadow;

            .row {
                display: flex;
                flex-direction: row;

                .left-side {
                    display: flex;
                    flex-direction: column;
                }

                .right-side {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;

                    .completed-text {
                        font-size: 0.6em;
                        color: $primary-gray;
                        padding-right: 20px;
                        /* Bring it closer to View Result without affecting lecturer*/
                        margin-bottom: -5px;
                    }

                    .published-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .published-checkbox {
                            margin: 0;
                        }

                        .published-label {
                            margin-left: 5px;
                            margin-right: 15px;
                            font-size: 0.8em;
                        }
                    }


                    .default-yellow-button {
                        width: fit-content;
                        color: $primary-gray;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.fab-container {
    background: $primary-yellow;
    width: 75px;
    height: 75px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: $main-box-shadow;

    &:hover {
        background: darken($primary-yellow, $darken-perc);
    }

    .fab-icon {
        font-size: 4.0em;
        color: $primary-gray;
        font-weight: normal;

        &:hover {
            color: darken($primary-gray, $darken-perc);
        }
    }
}

.create-test-container {
    width: 75%;
    margin: 30px auto;
    border-radius: $border-radius-big;
    box-shadow: $main-box-shadow;
    background: white;
    display: flex;
    flex-direction: column;

    .header-wrapper {
        .test-percentage {
            font-size: 1.4em;
            font-weight: bold;
            margin-top: 30px;
            margin-right: 50px;
        }

        .default-flat-button {
            margin-top: 30px;
            margin-right: 50px;
            margin-bottom: 0;
        }
    }

    h2 {
        margin-top: 30px;
        margin-left: 15px;
    }

    .test-details {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        justify-content: space-around;

        .form-control {
            flex-basis: 30%;
        }
    }

    .test-details.column {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-left: 15px;
        justify-content: space-around;

        .form-control {
            flex-basis: 30%;
        }
    }

    .button-container {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        align-self: flex-end;
    }

    .default-yellow-button {
        width: fit-content;
        align-self: flex-end;
        margin: 30px 30px 30px 0;
    }

    .default-flat-button {
        width: fit-content;
        align-self: flex-end;
        margin: 30px 5px 30px 30px;
    }


    .question-container {
        width: 90%;
        margin: 30px;
        box-shadow: $straight-down-box-shadow;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;

        .question-text-input {
            width: 80%;
            margin: 15px;
        }

        .question-text {
            font-size: 1.2em;
            margin: 15px;
            margin-top: 5px;
        }

        h3 {
            margin-left: 15px;
            margin-top: 30px;
            margin-bottom: 0;
        }

        .answers-wrapper {
            display: flex;
            flex-direction: column;
            margin: 15px;
            margin-top: 5px;

            .answer-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 10px;

                span {
                    margin: 0 30px 0 0;
                }

                input {
                    color: black;
                    margin: 0 0 0 5px;
                }

                .answer-text {
                    width: 50%;
                }
            }
        }
    }

    .error-message {
        display: block;
        margin: 15px;
    }

    .success-message {
        display: block;
        margin: 15px;
    }
}

.results-index-container {
    .average-graph {
        align-self: center;
        height: 500px;
        background: white;
        margin: 10px 0;
        text-align: center;
        border-radius: $border-radius;
        box-shadow: $inverted-box-shadow;
        //removed when graph is working
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .test-container {
        margin-top: 5px;
        width: 50%;
        display: none;
       
        .results-ul {
            list-style: none;
            width: 80%;
            padding: 10px;
            margin-top: 15px;
            max-height: 200px;
            overflow: auto;
            

            .results-li {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 15px;
                border-radius: $border-radius;
                box-shadow: $straight-down-box-shadow;

                &:hover{
                    background: darken(white, $darken-perc);
                    cursor: pointer;
                }
            }
        }
    }
}

.c3 line {
    stroke: white;
}

.c3 path.domain {
    stroke: rgba(0,0,0,0.2);
}




/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
