/*VARIABLES*/
$primary-yellow: #FFD851;
$primary-gray: rgb(51,51,51);
$darken-perc: 10%;
$border-radius: 10px;
$border-radius-big: 20px;
$border-radius-small: 5px;
$main-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
$inverted-box-shadow: -3px 3px 3px rgba(0,0,0,0.2);

* {
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.51);
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.yellow-bg-img {
    z-index: -5;
    position: absolute;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f5f7f9;
}

h1 {
    font-size: 1.6em;
    font-weight: bold;
}


h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.default-yellow-button {
    border-radius: $border-radius-small;
    box-shadow: $main-box-shadow;
    border: none;
    outline: none;
    background: $primary-yellow;
    padding: 10px 20px;

    &:hover {
        background: darken($primary-yellow, $darken-perc);
        font-weight: bold;
    }
}

.sub-text{
    font-size: 0.8em;
    color: lighten($primary-gray, $darken-perc);
}


.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #module-select {
        border: none;
        background: transparent;
        font-weight: bold;
        outline: none;

        option {
            border: none;
            background: none;
        }
    }
}

.body-content {
    margin-top: 75px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: $primary-yellow;
    border: none;
    padding-right: 30px;

    a {
        color: lighten($primary-gray, $darken-perc);

        &:hover {
            color: $primary-gray;
            font-weight: bold;
        }
    }
}

.tests-wrapper {
    margin-top: 30px;
    width: 100%;
}

.test-container {
    width: 100%;
    height: 250px;
    padding: 15px;
    background: white;
    border-radius: $border-radius;
    box-shadow: $main-box-shadow;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    .no-tests{
        align-self: center;
        justify-self: center;
    }

    .extra-info {
        font-size: 0.9em;
    }

    .submissions-graph {
        width: 80%;
        align-self: center;
        height: 150px;
        /*background: rgba(0,0,0,0.05);*/
        margin: 10px 0;
        text-align: center;
        border-radius: $border-radius;
        box-shadow: $inverted-box-shadow;
        //removed when graph is working
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    a.view-test-link {
        margin-top: 10px;
        align-self: flex-end;
        justify-self: flex-end;
        color: $primary-gray;

        &:hover {
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.container.login-container {
    border-radius: $border-radius-big;
    box-shadow: $main-box-shadow;
    height: 100%;
    background: white;
    padding: 15px;
    width: 45%;

    .login-container-header {
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .row {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding-bottom: 15px;
        margin-bottom: 30px;


        .info-block {
            padding: 10px;
            text-align: center;
            align-self: center;
            border-right: 1px solid rgba(0,0,0,0.1);
        }

        .login-wrapper {
            padding: 10px;

            form {
                margin-top: 30px;
                width: 90%;

                .form-group {
                    margin-left: 0;
                }
            }

            a {
                color: $primary-gray;
                margin-left: 15px;

                &:hover {
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
}

.container.register-container {
    border-radius: $border-radius-big;
    box-shadow: $main-box-shadow;
    height: 100%;
    background: white;
    padding: 15px;
    width: 30%;

    .register-container-header {
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .row {
        .registration-form {
            width: 90%;
            margin: 30px auto;

            .scrollable{
                max-height: 370px;
                overflow:auto;
                padding-right: 15px;
            }

            .form-group {
                margin-left: 0;
            }

            #lbl-error{
                margin-top: 30px;
            }
        }

        a {
            color: $primary-gray;
            margin-left: 15px;

            &:hover {
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
