@{
    ViewData["Title"] = "Results";
}

<img class="yellow-bg-img" src="~/images/Background.png" />

<div class="body-content">
    <div class="container">
        <div class="header-wrapper">
            <h1>Results</h1>
            <select id="module-select">
                @foreach (TestApp.MVC.Models.Module module in ViewBag.Modules)
                {
                    <option data-id="@module.ModuleId" value="@module.ModuleId">@module.ModuleName</option>
                }
            </select>
        </div>
        <div class="tests-wrapper results-index-container">
            <div class="row">
                @if (ViewBag.HasTests == true)
                {
                    <div class="average-graph">
                    </div>
                    <script src="~/js/averagePerTest.js"></script>
                }
                else
                {
                    <div class="col-md-6 col-sm-6">
                        <div class="test-container empty">
                            <h2 class="test-heading no-tests">No Results</h2>
                        </div>
                    </div>
                }
            </div>
            <div class="test-container">
                <h3>Results for <span id="test-title"></span></h3>
                <ul class="results-ul">
                    @*<li class="results-li"><span class="result-name">Kyle Brooks</span><span class="result-percentage">75%</span></li>*@
                </ul>
            </div>
        </div>
    </div>
</div>
