@{
    ViewData["Title"] = "View Test";
}

<img class="yellow-bg-img" src="~/images/Background.png" />

<div class="body-content">
    <div class="container">
        <div class="header-wrapper">
            <h1>View Test</h1>
        </div>
        <div class="create-test-container">
            <input type="hidden" id="testID" value="@ViewBag.Test.TestId" />
            <div class="header-wrapper">
                <h2 class="test-title-text">@ViewBag.Test.Title</h2>
                <a href="/Tests/Edit?testID=@ViewBag.Test.TestId" class="default-flat-button">Edit Test</a>
            </div>
            <div class="test-details column">
                <span class="test-module-text extra-info">@ViewBag.Test.Module</span>
                <span class="test-due-date-text extra-info">Due @ViewBag.Test.DueDate.Date.ToShortDateString()</span>
            </div>

            <div class="question-container">
                <h2 class="question-heading"></h2>
                <span class="question-text"></span>
                <h3>Correct Answer</h3>
                <div class="answers-wrapper">
                    <div class="answer-container">
                        <div class="radio-label-group">
                            <input type="radio" class="a-radio" checked="checked" name="correct-answer-radio" value="0" />
                            <span>A.</span>
                        </div>
                        <span class="answer-text a-text"></span>
                    </div>
                    <div class="answer-container">
                        <div class="radio-label-group">
                            <input type="radio" class="b-radio" name="correct-answer-radio" value="1" />
                            <span>B.</span>
                        </div>
                        <span class="answer-text b-text"></span>
                    </div>
                    <div class="answer-container">
                        <div class="radio-label-group">
                            <input type="radio" class="c-radio" name="correct-answer-radio" value="2" />
                            <span>C.</span>
                        </div>
                        <span class="answer-text c-text"></span>
                    </div>
                </div>
                
                <div class="button-container">
                    <button class="default-flat-button prev-question-button">Previous Question</button>
                    <button class="default-yellow-button next-question-button">Next Question</button>
                </div>
            </div>

            <span class="text-danger error-message test-error"></span>
            <button class="default-yellow-button finish-test-button">Done</button>
        </div>
    </div>
</div>

<script src="~/js/viewMemoLecturer.js"></script>



